<section class="category-page">

  {{!-- Top Banner Section --}}
  <section id="main-content" class="hero">
    <div class="container section">
      <h1 class="hero-text fade-in-up">{{settings.category_heading}}</h1>
      {{#if settings.show_category_subtitle}}
        <p class="p-large fade-in-up">{{settings.category_subtitle}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
    </div>
    <svg width="292" height="468" viewBox="0 0 292 468" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_17306_490)">
        <path d="M149.119 147.824C80.292 147.824 24.2969 91.8285 24.2969 23.0016C24.2969 10.2986 13.9983 0 1.29533 0C-11.4077 0 -21.7063 10.2986 -21.7063 23.0016C-21.7063 91.8285 -77.7013 147.824 -146.528 147.824C-159.231 147.824 -169.53 158.122 -169.53 170.825C-169.53 183.528 -159.231 193.827 -146.528 193.827C-77.6998 193.827 -21.7063 249.822 -21.7063 318.649C-21.7063 331.352 -11.4077 341.65 1.29533 341.65C13.9983 341.65 24.2969 331.352 24.2969 318.649C24.2969 249.822 80.292 193.827 149.117 193.827C161.82 193.827 172.119 183.528 172.119 170.825C172.119 158.122 161.822 147.824 149.119 147.824Z" fill="#FFF4EB"/>
        <path d="M118.805 370.77C142.787 377.196 167.525 362.913 173.951 338.931C175.137 334.505 179.687 331.878 184.113 333.064C188.54 334.25 191.167 338.8 189.981 343.226C183.555 367.208 197.837 391.947 221.819 398.373C226.245 399.559 228.872 404.108 227.686 408.535C226.5 412.961 221.95 415.588 217.524 414.402C193.542 407.976 168.804 422.259 162.378 446.24C161.192 450.667 156.642 453.294 152.216 452.108C147.79 450.922 145.163 446.372 146.349 441.945C152.775 417.964 138.492 393.225 114.511 386.799C110.084 385.613 107.457 381.063 108.643 376.637C109.829 372.211 114.379 369.584 118.805 370.77Z" fill="#FFF4EB"/>
        <path d="M280.915 348.071L277.201 351.786L273.486 348.071C272.559 347.144 271.056 347.144 270.13 348.071C269.203 348.998 269.203 350.501 270.13 351.428L273.844 355.142L270.13 358.857C269.203 359.783 269.203 361.286 270.13 362.213C271.056 363.14 272.559 363.14 273.486 362.213L277.201 358.499L280.915 362.213C281.842 363.14 283.345 363.14 284.272 362.213C285.199 361.286 285.199 359.783 284.272 358.857L280.557 355.142L284.272 351.428C285.199 350.501 285.199 348.998 284.272 348.071C283.345 347.144 281.842 347.144 280.915 348.071Z" fill="#F6B140"/>
        <path d="M57.8536 447.263L54.1391 450.978L50.4245 447.263C49.4977 446.337 47.9949 446.337 47.068 447.263C46.1412 448.19 46.1412 449.693 47.068 450.62L50.7826 454.334L47.068 458.049C46.1412 458.976 46.1412 460.479 47.068 461.406C47.9949 462.332 49.4977 462.332 50.4245 461.406L54.1391 457.691L57.8536 461.406C58.7805 462.332 60.2833 462.332 61.2102 461.406C62.137 460.479 62.137 458.976 61.2102 458.049L57.4956 454.334L61.2102 450.62C62.137 449.693 62.137 448.19 61.2102 447.263C60.2833 446.337 58.7805 446.337 57.8536 447.263Z" fill="#F6B140"/>
        <path d="M219.544 270.244C231.886 270.244 241.927 260.203 241.927 247.861C241.927 245.583 243.774 243.737 246.052 243.737C248.329 243.737 250.176 245.583 250.176 247.861C250.176 260.203 260.217 270.244 272.559 270.244C274.837 270.244 276.683 272.09 276.683 274.368C276.683 276.646 274.837 278.493 272.559 278.493C260.217 278.493 250.176 288.534 250.176 300.875C250.176 303.153 248.329 305 246.052 305C243.774 305 241.927 303.153 241.927 300.875C241.927 288.534 231.886 278.493 219.545 278.493C217.267 278.493 215.42 276.646 215.42 274.368C215.42 272.09 217.266 270.244 219.544 270.244Z" fill="#FFF4EB"/>
        <path d="M168.238 160.219L162.666 165.79L157.095 160.219C155.704 158.828 153.45 158.828 152.06 160.219C150.67 161.609 150.67 163.863 152.06 165.253L157.632 170.825L152.06 176.397C150.67 177.787 150.67 180.042 152.06 181.432C153.45 182.822 155.704 182.822 157.095 181.432L162.666 175.86L168.238 181.432C169.629 182.822 171.883 182.822 173.273 181.432C174.663 180.042 174.663 177.787 173.273 176.397L167.701 170.825L173.273 165.253C174.663 163.863 174.663 161.609 173.273 160.219C171.883 158.828 169.629 158.828 168.238 160.219Z" fill="#F6B140"/>
      </g>
      <defs>
        <clipPath id="clip0_17306_490">
          <rect width="291" height="468" fill="white" transform="translate(0.794556)"/>
        </clipPath>
      </defs>
    </svg>
    <svg width="289" height="471" viewBox="0 0 289 471" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M437.119 147.824C368.292 147.824 312.297 91.8285 312.297 23.0016C312.297 10.2986 301.998 0 289.295 0C276.592 0 266.294 10.2986 266.294 23.0016C266.294 91.8285 210.299 147.824 141.472 147.824C128.769 147.824 118.47 158.122 118.47 170.825C118.47 183.528 128.769 193.827 141.472 193.827C210.3 193.827 266.294 249.822 266.294 318.649C266.294 331.352 276.592 341.65 289.295 341.65C301.998 341.65 312.297 331.352 312.297 318.649C312.297 249.822 368.292 193.827 437.117 193.827C449.82 193.827 460.119 183.528 460.119 170.825C460.119 158.122 449.822 147.824 437.119 147.824Z" fill="#FFF4EB"/>
      <path d="M180.501 319.541C150.452 327.593 119.455 309.697 111.403 279.648C109.917 274.102 104.216 270.81 98.6704 272.296C93.1245 273.783 89.8331 279.483 91.3191 285.029C99.3706 315.078 81.4745 346.075 51.4257 354.127C45.8798 355.613 42.5883 361.314 44.0744 366.86C45.5604 372.406 51.2614 375.697 56.8073 374.211C86.8567 366.159 117.853 384.056 125.905 414.104C127.391 419.65 133.092 422.942 138.638 421.456C144.183 419.97 147.475 414.269 145.989 408.723C137.937 378.674 155.833 347.677 185.882 339.626C191.428 338.14 194.719 332.439 193.233 326.893C191.747 321.347 186.047 318.055 180.501 319.541Z" fill="#FFF4EB"/>
      <path d="M18.8669 409.787L15.1524 413.501L11.4378 409.787C10.511 408.86 9.00817 408.86 8.08132 409.787C7.15447 410.714 7.15447 412.217 8.08132 413.143L11.7959 416.858L8.08132 420.572C7.15448 421.499 7.15448 423.002 8.08132 423.929C9.00817 424.856 10.511 424.856 11.4378 423.929L15.1524 420.214L18.8669 423.929C19.7938 424.856 21.2966 424.856 22.2235 423.929C23.1503 423.002 23.1503 421.499 22.2235 420.572L18.5089 416.858L22.2235 413.143C23.1503 412.217 23.1503 410.714 22.2235 409.787C21.2966 408.86 19.7938 408.86 18.8669 409.787Z" fill="#F6B140"/>
      <path d="M220.407 449.947L216.693 453.662L212.978 449.947C212.052 449.021 210.549 449.021 209.622 449.947C208.695 450.874 208.695 452.377 209.622 453.304L213.336 457.019L209.622 460.733C208.695 461.66 208.695 463.163 209.622 464.09C210.549 465.016 212.052 465.016 212.978 464.09L216.693 460.375L220.407 464.09C221.334 465.016 222.837 465.016 223.764 464.09C224.691 463.163 224.691 461.66 223.764 460.733L220.049 457.019L223.764 453.304C224.691 452.377 224.691 450.874 223.764 449.947C222.837 449.021 221.334 449.021 220.407 449.947Z" fill="#F6B140"/>
      <path d="M129.714 160.219L124.142 165.79L118.57 160.219C117.18 158.828 114.926 158.828 113.535 160.219C112.145 161.609 112.145 163.863 113.535 165.253L119.107 170.825L113.535 176.397C112.145 177.787 112.145 180.042 113.535 181.432C114.926 182.822 117.18 182.822 118.57 181.432L124.142 175.86L129.714 181.432C131.104 182.822 133.358 182.822 134.749 181.432C136.139 180.042 136.139 177.787 134.749 176.397L129.177 170.825L134.749 165.253C136.139 163.863 136.139 161.609 134.749 160.219C133.358 158.828 131.104 158.828 129.714 160.219Z" fill="#F6B140"/>
    </svg>
  </section>

  {{!-- Main Content --}}
  <section class="category-page__content container section">
    <h2 class="fade-in-up">{{category.name}}</h2>
    {{#if category.description}}
      <p class="fade-in-up">{{category.description}}</p>
    {{/if}}
    <div class="category-page__sections">
      {{#each sections}}
      <div class="category-page__section fade-in-up">
        <div class="category-page__section-heading">
          <h3>{{name}}</h3>
          <a class="button button-primary" href="{{url}}">{{t 'show_all_articles'}}</a>
        </div>
        <div class="category-page__articles">
          {{#each articles}}
            <div class="category-page__article">
              <h6><a href="{{url}}">{{title}}</a></h6>
              <div>{{body}}</div>
              <div>
                <a href="{{url}}"></a>
                {{t 'see_more'}}
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                    <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </section>

</section>


