{{!-- Top Banner Section --}}
<section id="main-content" class="hero section">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero-text fade-in-up">{{settings.hero_heading}}</h1>
      {{#if settings.show_hero_text}}
        <p class="p-large fade-in-up">{{settings.hero_text}}</p>
      {{/if}}
      <div class="hero-inner fade-in-up">
        <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search instant=settings.instant_search class='search search-full'}}
      </div>
      {{#if settings.show_popular_keywords}}
        <div class="popular-keywords fade-in-up" data-keywords="{{settings.popular_keywords}}">
          <p>{{settings.popular_keywords_description}}</p>
          <div class="popular-keywords__items"></div>
        </div>
      {{/if}}
    </div>
  </div>
  {{#if settings.show_introduction_section}}
  {{!-- Introduction Section --}}
  <div class="introduction">
    <div class="container">
      <div class="introduction__items">
        <div class="introduction__item fade-in-up">
          <img src="{{settings.introduction_item1_img}}" alt="icon">
          <h4>
            {{settings.introduction_item1_heading}}
            <a href="{{settings.introduction_item1_link}}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M17.5 15.5053V8.25M17.5 8.25H10.2447M17.5 8.25L6.5 19.25" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </h4>
          <p>{{settings.introduction_item1_subtitle}}</p>
        </div>
        <div class="introduction__item fade-in-up">
          <img src="{{settings.introduction_item2_img}}" alt="icon">
          <h4>
            {{settings.introduction_item2_heading}}
            <a href="{{settings.introduction_item2_link}}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M17.5 15.5053V8.25M17.5 8.25H10.2447M17.5 8.25L6.5 19.25" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </h4>
          <p>{{settings.introduction_item2_subtitle}}</p>
        </div>
        <div class="introduction__item fade-in-up">
          <img src="{{settings.introduction_item3_img}}" alt="icon">
          <h4>
            {{settings.introduction_item3_heading}}
            <a href="{{settings.introduction_item3_link}}"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M17.5 15.5053V8.25M17.5 8.25H10.2447M17.5 8.25L6.5 19.25" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </h4>
          <p>{{settings.introduction_item3_subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <svg width="335" height="890" viewBox="0 0 335 890" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_33302_12652)">
      <rect x="-190.936" y="-64.1514" width="380.87" height="486.81" fill="url(#paint0_radial_33302_12652)" fill-opacity="0.5"/>
      <rect x="-84.614" y="679.841" width="380.87" height="486.81" fill="url(#paint1_radial_33302_12652)" fill-opacity="0.4"/>
      <rect x="-335.012" y="95.8804" width="669.023" height="794.12" fill="url(#paint2_radial_33302_12652)" fill-opacity="0.6"/>
    </g>
    <defs>
      <radialGradient id="paint0_radial_33302_12652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.500305 179.254) rotate(90) scale(243.405 190.435)">
        <stop stop-color="#9058EB"/>
        <stop offset="1" stop-color="#9058EB" stop-opacity="0"/>
      </radialGradient>
      <radialGradient id="paint1_radial_33302_12652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(105.821 923.246) rotate(90) scale(243.405 190.435)">
        <stop stop-color="#9058EB"/>
        <stop offset="1" stop-color="#9058EB" stop-opacity="0"/>
      </radialGradient>
      <radialGradient id="paint2_radial_33302_12652" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.500183 492.94) rotate(90) scale(397.06 334.512)">
        <stop offset="0.305" stop-color="#6658EB"/>
        <stop offset="1" stop-color="#6658EB" stop-opacity="0"/>
      </radialGradient>
      <clipPath id="clip0_33302_12652">
        <rect width="335" height="890" fill="white" transform="translate(-0.5)"/>
      </clipPath>
    </defs>
  </svg>
  <svg width="955" height="385" viewBox="0 0 955 385" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_33302_12661)">
      <rect x="-45.0276" y="213.604" width="1230.9" height="670.739" transform="rotate(-13.5918 -45.0276 213.604)" fill="url(#paint0_radial_33302_12661)" fill-opacity="0.6"/>
      <rect x="547.078" width="661.82" height="486.81" fill="url(#paint1_radial_33302_12661)" fill-opacity="0.4"/>
    </g>
    <defs>
      <radialGradient id="paint0_radial_33302_12661" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(570.425 548.973) rotate(90) scale(335.37 615.452)">
        <stop stop-color="#6658EB"/>
        <stop offset="1" stop-color="#6658EB" stop-opacity="0"/>
      </radialGradient>
      <radialGradient id="paint1_radial_33302_12661" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(877.988 243.405) rotate(90) scale(243.405 330.91)">
        <stop stop-color="#9058EB"/>
        <stop offset="1" stop-color="#9058EB" stop-opacity="0"/>
      </radialGradient>
      <clipPath id="clip0_33302_12661">
        <rect width="955" height="385" fill="white" transform="translate(0.5)"/>
      </clipPath>
    </defs>
  </svg>
  <svg width="930" height="486" viewBox="0 0 930 486" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_33302_12656)">
      <rect x="232.358" y="-272.605" width="698.142" height="559.059" fill="url(#paint0_radial_33302_12656)" fill-opacity="0.45"/>
      <rect x="423.328" y="-394.423" width="1031.66" height="409.766" transform="rotate(35.4387 423.328 -394.423)" fill="url(#paint1_linear_33302_12656)"/>
      <rect x="-24.4296" y="-279.529" width="1081.86" height="620.144" fill="url(#paint2_radial_33302_12656)" fill-opacity="0.55"/>
      <path d="M249.251 -21.2611L1423.61 -103.984V455.075L978.707 507.099L249.251 -21.2611Z" fill="url(#paint3_diamond_33302_12656)" fill-opacity="0.7"/>
    </g>
    <defs>
      <radialGradient id="paint0_radial_33302_12656" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(581.429 6.92456) rotate(90) scale(279.53 349.071)">
        <stop offset="0.225" stop-color="#CE58EB"/>
        <stop offset="1" stop-color="#CE58EB" stop-opacity="0"/>
      </radialGradient>
      <linearGradient id="paint1_linear_33302_12656" x1="1440.12" y1="-19.6097" x2="922.565" y2="-497.375" gradientUnits="userSpaceOnUse">
        <stop offset="0.215" stop-color="#CE58EB"/>
        <stop offset="0.655" stop-color="#CE58EB" stop-opacity="0"/>
      </linearGradient>
      <radialGradient id="paint2_radial_33302_12656" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(516.499 30.5425) rotate(90) scale(310.072 540.928)">
        <stop offset="0.225" stop-color="#EB5861"/>
        <stop offset="1" stop-color="#EB5861" stop-opacity="0"/>
      </radialGradient>
      <radialGradient id="paint3_diamond_33302_12656" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1072.82 122.13) rotate(93.2721) scale(430.959 692.262)">
        <stop offset="0.275" stop-color="#FF7D6B"/>
        <stop offset="1" stop-color="#FF7D6B" stop-opacity="0"/>
      </radialGradient>
      <clipPath id="clip0_33302_12656">
        <rect width="930" height="486" fill="white" transform="translate(0.5)"/>
      </clipPath>
    </defs>
  </svg>
</section>

{{#if settings.show_quick_links_section}}
{{!-- Quick Links Section --}}
<section class="quick-links section">
  <div class="container">
    <h2 class="h2 fade-in-up">{{settings.quick_links_heading}}</h2>
    <p class="fade-in-up">{{settings.quick_links_subtitle}}</p>
    <div class="quick-links__items">
      <div class="quick-links__item fade-in-up">
        <img src="{{settings.quick_links_item1_img}}" alt="icon">
        <div>
          <h4><a href="{{settings.quick_links_item1_link}}">{{settings.quick_links_item1_heading}}</a></h4>
          <p>{{settings.quick_links_item1_text}}</p>
          <div>
            <a href="{{settings.quick_links_item1_link}}"></a>
            {{settings.quick_links_item1_link_text}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
              <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="quick-links__item fade-in-up">
        <img src="{{settings.quick_links_item2_img}}" alt="icon">
        <div>
          <h4><a href="{{settings.quick_links_item2_link}}">{{settings.quick_links_item2_heading}}</a></h4>
          <p>{{settings.find_solution_item2_text}}</p>
          <div>
            <a href="{{settings.quick_links_item2_link}}"></a>
            {{settings.quick_links_item2_link_text}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
              <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/if}}

{{#if settings.show_resources_section}}
{{!-- Resources Section --}}
  <section class="resources section">
    <div class="container">
      <div class="resources__items">
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item1_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item1_link}}">{{settings.resources_item1_heading}}</a>
          </h5>
          <p>{{settings.resources_item1_text}}</p>
          <a href="{{settings.resources_item1_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item2_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item2_link}}">{{settings.resources_item2_heading}}</a>
          </h5>
          <p>{{settings.resources_item2_text}}</p>
          <a href="{{settings.resources_item2_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item3_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item3_link}}">{{settings.resources_item3_heading}}</a>
          </h5>
          <p>{{settings.resources_item3_text}}</p>
          <a href="{{settings.resources_item3_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item4_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item4_link}}">{{settings.resources_item4_heading}}</a>
          </h5>
          <p>{{settings.resources_item4_text}}</p>
          <a href="{{settings.resources_item4_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item5_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item5_link}}">{{settings.resources_item5_heading}}</a>
          </h5>
          <p>{{settings.resources_item5_text}}</p>
          <a href="{{settings.resources_item5_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
        <div class="resources__item fade-in-up">
          <img src="{{settings.resources_item6_img}}" alt="icon">
          <h5>
            <a href="{{settings.resources_item6_link}}">{{settings.resources_item6_heading}}</a>
          </h5>
          <p>{{settings.resources_item6_text}}</p>
          <a href="{{settings.resources_item6_link}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path d="M18.25 13.8724V6.12244M18.25 6.12244H10.5M18.25 6.12244L6.5 17.8724" stroke="#1B1641" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="1170" height="680" viewBox="0 0 1170 680" fill="none">
      <g clip-path="url(#clip0_33316_4058)">
        <rect x="-135.869" y="419.518" width="875.409" height="431.899" transform="rotate(-35.4973 -135.869 419.518)" fill="url(#paint0_radial_33316_4058)" fill-opacity="0.4"/>
        <rect x="244.372" y="276.86" width="661.82" height="486.81" transform="rotate(-21.9055 244.372 276.86)" fill="url(#paint1_radial_33316_4058)" fill-opacity="0.2"/>
        <rect x="516.922" y="-114.599" width="903.558" height="499.349" transform="rotate(31.9213 516.922 -114.599)" fill="url(#paint2_radial_33316_4058)" fill-opacity="0.35"/>
      </g>
      <defs>
        <radialGradient id="paint0_radial_33316_4058" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(301.835 635.467) rotate(90) scale(215.949 437.704)">
          <stop stop-color="#6658EB"/>
          <stop offset="1" stop-color="#6658EB" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_radial_33316_4058" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(575.282 520.265) rotate(90) scale(243.405 330.91)">
          <stop stop-color="#9058EB"/>
          <stop offset="1" stop-color="#9058EB" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_radial_33316_4058" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(968.701 135.076) rotate(90) scale(249.674 451.779)">
          <stop offset="0.225" stop-color="#EB5861"/>
          <stop offset="1" stop-color="#EB5861" stop-opacity="0"/>
        </radialGradient>
        <clipPath id="clip0_33316_4058">
          <rect width="1170" height="679" fill="white" transform="translate(0 0.786743)"/>
        </clipPath>
      </defs>
    </svg>
  </section>
{{/if}}

{{#if settings.show_category1_section}}
{{!-- Categories Section --}}
<section class="categories section">
  <div class="container">
    {{#each categories}}
      <div class="categories__item">
        <div class="categories__head">
          <h2 class="h2 fade-in-up">{{name}}</h2>
          <div class="fade-in-up">
            <a class="button button-primary" href="{{url}}">{{t 'see_all_sections'}}</a>
          </div>
        </div>
        <div class="categories__sections">
          {{#each sections}}
            <div class="categories__section fade-in-up">
              <div>
                <h6><a href="{{url}}">{{name}}</a></h6>
                <ul>
                  {{#each articles}}
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                      <g clip-path="url(#clip0_33345_397)">
                        <path d="M16.9452 4.58713L13.1787 1.02377C12.7781 0.644746 12.2537 0.436035 11.7022 0.436035H4.53125C3.3466 0.436035 2.38281 1.39982 2.38281 2.58447V18.2876C2.38281 19.4722 3.3466 20.436 4.53125 20.436H15.4688C16.6534 20.436 17.6172 19.4722 17.6172 18.2876V6.14783C17.6172 5.55998 17.3723 4.99111 16.9452 4.58713ZM15.8071 5.12354H12.8906C12.7829 5.12354 12.6953 5.03592 12.6953 4.92822V2.17963L15.8071 5.12354ZM15.4688 19.2642H4.53125C3.99277 19.2642 3.55469 18.8261 3.55469 18.2876V2.58447C3.55469 2.046 3.99277 1.60791 4.53125 1.60791H11.5234V4.92822C11.5234 5.68209 12.1368 6.29541 12.8906 6.29541H16.4453V18.2876C16.4453 18.8261 16.0072 19.2642 15.4688 19.2642Z" fill="#1B1641"/>
                        <path d="M14.1797 8.24854H5.58594C5.26234 8.24854 5 8.51088 5 8.83447C5 9.15807 5.26234 9.42041 5.58594 9.42041H14.1797C14.5033 9.42041 14.7656 9.15807 14.7656 8.83447C14.7656 8.51088 14.5033 8.24854 14.1797 8.24854Z" fill="#1B1641"/>
                        <path d="M14.1797 11.3735H5.58594C5.26234 11.3735 5 11.6359 5 11.9595C5 12.2831 5.26234 12.5454 5.58594 12.5454H14.1797C14.5033 12.5454 14.7656 12.2831 14.7656 11.9595C14.7656 11.6359 14.5033 11.3735 14.1797 11.3735Z" fill="#1B1641"/>
                        <path d="M8.42656 14.4985H5.58594C5.26234 14.4985 5 14.7609 5 15.0845C5 15.4081 5.26234 15.6704 5.58594 15.6704H8.42656C8.75016 15.6704 9.0125 15.4081 9.0125 15.0845C9.0125 14.7609 8.75016 14.4985 8.42656 14.4985Z" fill="#1B1641"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_33345_397">
                          <rect width="20" height="20" fill="white" transform="translate(0 0.436035)"/>
                        </clipPath>
                      </defs>
                    </svg>
                    <a href="{{url}}">{{title}}</a>
                  </li>
                  {{/each}}
                </ul>
              </div>
              <a class="button button-primary" href="{{url}}">{{t 'show_all_articles'}}</a>
            </div>
          {{/each}}
        </div>
        <div class="mobile-button fade-in-up">
          <a class="button button-primary" href="{{url}}">{{t 'see_all_sections'}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>
{{/if}}

{{#if settings.show_category2_section}}
{{!-- Categories Section --}}
<section class="categories categories-layout2 section">
  <div class="container">
    {{#if settings.show_category2_header}}
      <div class="categories__header">
        <h2 class="h2 fade-in-up">{{settings.category2_heading}}</h2>
        {{#if settings.show_category2_subtitle}}
          <p class="fade-in-up">{{settings.category2_subtitle}}</p>
        {{/if}}
      </div>
    {{/if}}
    <div class="categories__list">
      {{#each categories}}
        <div class="categories__section fade-in-up">
          <div>
            <h5><a href="{{url}}">{{name}}</a></h5>
            <ul>
              {{#each sections}}
                {{#each articles}}
                <li>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <g clip-path="url(#clip0_33345_397)">
                      <path d="M16.9452 4.58713L13.1787 1.02377C12.7781 0.644746 12.2537 0.436035 11.7022 0.436035H4.53125C3.3466 0.436035 2.38281 1.39982 2.38281 2.58447V18.2876C2.38281 19.4722 3.3466 20.436 4.53125 20.436H15.4688C16.6534 20.436 17.6172 19.4722 17.6172 18.2876V6.14783C17.6172 5.55998 17.3723 4.99111 16.9452 4.58713ZM15.8071 5.12354H12.8906C12.7829 5.12354 12.6953 5.03592 12.6953 4.92822V2.17963L15.8071 5.12354ZM15.4688 19.2642H4.53125C3.99277 19.2642 3.55469 18.8261 3.55469 18.2876V2.58447C3.55469 2.046 3.99277 1.60791 4.53125 1.60791H11.5234V4.92822C11.5234 5.68209 12.1368 6.29541 12.8906 6.29541H16.4453V18.2876C16.4453 18.8261 16.0072 19.2642 15.4688 19.2642Z" fill="#1B1641"/>
                      <path d="M14.1797 8.24854H5.58594C5.26234 8.24854 5 8.51088 5 8.83447C5 9.15807 5.26234 9.42041 5.58594 9.42041H14.1797C14.5033 9.42041 14.7656 9.15807 14.7656 8.83447C14.7656 8.51088 14.5033 8.24854 14.1797 8.24854Z" fill="#1B1641"/>
                      <path d="M14.1797 11.3735H5.58594C5.26234 11.3735 5 11.6359 5 11.9595C5 12.2831 5.26234 12.5454 5.58594 12.5454H14.1797C14.5033 12.5454 14.7656 12.2831 14.7656 11.9595C14.7656 11.6359 14.5033 11.3735 14.1797 11.3735Z" fill="#1B1641"/>
                      <path d="M8.42656 14.4985H5.58594C5.26234 14.4985 5 14.7609 5 15.0845C5 15.4081 5.26234 15.6704 5.58594 15.6704H8.42656C8.75016 15.6704 9.0125 15.4081 9.0125 15.0845C9.0125 14.7609 8.75016 14.4985 8.42656 14.4985Z" fill="#1B1641"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_33345_397">
                        <rect width="20" height="20" fill="white" transform="translate(0 0.436035)"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <a href="{{url}}">{{title}}</a>
                </li>
                {{/each}}
              {{/each}}
            </ul>
          </div>
          <a class="button" href="{{url}}">{{t 'see_all_sections'}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{/if}}

{{!-- Promoted Articles --}}
{{#if settings.show_fourth_section}}
  {{#if promoted_articles}}
    <section class="promoted-articles">
      <div class="container section">
        <h2 class="h2 fade-in-up">{{settings.fourth_section_heading}}</h2>
        <div class="promoted-articles__items">
          {{#each promoted_articles}}
            <div class="promoted-articles__item fade-in-up">
              <a href="{{url}}">{{title}}</a>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
{{/if}}

{{!-- Popular Videos Section --}}
{{#if settings.show_videos}}
<section class="videos section">
  <div class="container">
    <div class="videos__head">
      <h2 class="h2 fade-in-up">{{settings.videos_heading}}</h2>
      <div class="fade-in-up">
        <a class="button button-primary" href="{{settings.videos_button_link}}" target="_blank">{{settings.videos_button}}</a>
      </div>
    </div>
    <div class="videos__list">
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img1}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link1}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img2}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link2}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img3}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link3}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img4}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link4}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img5}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link5}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
      <div class="videos__item fade-in-up">
        <div class="videos__img">
          <img src="{{settings.videos_img6}}" alt="Video Thumbnail" data-video-src="{{settings.videos_link6}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
            <rect x="0.5" y="0.436035" width="40" height="40" rx="20" fill="white"/>
            <path d="M28.4425 19.2134C29.3836 19.7568 29.3836 21.1152 28.4425 21.6586L17.5877 27.9256C16.6465 28.469 15.4701 27.7898 15.4701 26.703L15.4701 14.169C15.4701 13.0822 16.6465 12.403 17.5877 12.9464L28.4425 19.2134Z" fill="#1B1641"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="mobile-button fade-in-up">
      <a class="button button-primary" href="{{settings.videos_button_link}}" target="_blank">{{settings.videos_button}}</a>
    </div>
  </div>

  {{!-- Modal window --}}
  <div class="video-modal">
    <span class="close">×</span>
    <iframe width="640" height="360" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
{{/if}}

{{#if settings.show_recent_activity_section}}
  {{!-- Recent activity --}}
  {{#if help_center.community_enabled}}
    <section class="homepage-activity activity">
      <div class="container section fade-in-up">
        {{recent_activity scope='community'}}
      </div>
    </section>
  {{/if}}
{{/if}}

{{#if settings.show_faq_section}}
{{!-- FAQ Section --}}
<section class="faq section">
  <div class="container">
    <h2 class="h2 fade-in-up">{{settings.faq_heading}}</h2>
    <p class="fade-in-up">{{settings.faq_subtitle}}</p>
    <div class="faq__items">
      <div class="faq__item fade-in-up">
        <h5>{{settings.faq_item1_heading}}</h5>
        <p>{{settings.faq_item1_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h5>{{settings.faq_item2_heading}}</h5>
        <p>{{settings.faq_item2_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h5>{{settings.faq_item3_heading}}</h5>
        <p>{{settings.faq_item3_text}}</p>
      </div>
      <div class="faq__item fade-in-up">
        <h5>{{settings.faq_item4_heading}}</h5>
        <p>{{settings.faq_item4_text}}</p>
      </div>
    </div>
  </div>
</section>
{{/if}}
