<div class="search-results-page">
  <div class="container">
    <aside class="search-results-sidebar nav">
      <div class="search-container">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.49 14.645L12.24 11.395H12.205C13.2068 10.2139 13.713 8.69119 13.6178 7.1454C13.5226 5.59961 12.8334 4.15049 11.6943 3.10119C10.5553 2.05189 9.05456 1.48368 7.50616 1.51542C5.95777 1.54717 4.48162 2.17641 3.38651 3.27152C2.2914 4.36663 1.66216 5.84278 1.63041 7.39117C1.59867 8.93957 2.16688 10.4403 3.21618 11.5793C4.26548 12.7184 5.7146 13.4076 7.26039 13.5028C8.80618 13.598 10.3289 13.0918 11.51 12.09C11.51 12.09 11.51 12.115 11.51 12.125L14.76 15.375C14.8065 15.4219 14.8618 15.4591 14.9227 15.4845C14.9837 15.5099 15.049 15.5229 15.115 15.5229C15.181 15.5229 15.2464 15.5099 15.3073 15.4845C15.3683 15.4591 15.4236 15.4219 15.47 15.375C15.5213 15.3297 15.5627 15.2742 15.5917 15.2122C15.6206 15.1502 15.6365 15.0828 15.6384 15.0144C15.6403 14.9459 15.6281 14.8778 15.6026 14.8143C15.577 14.7508 15.5387 14.6932 15.49 14.645ZM7.63504 12.5C6.64613 12.5 5.67943 12.2068 4.85719 11.6574C4.03494 11.108 3.39408 10.3271 3.01564 9.41346C2.6372 8.49983 2.53818 7.4945 2.73111 6.5246C2.92404 5.55469 3.40024 4.66378 4.0995 3.96451C4.79877 3.26525 5.68968 2.78905 6.65959 2.59612C7.62949 2.40319 8.63482 2.50221 9.54845 2.88065C10.4621 3.25909 11.243 3.89995 11.7924 4.7222C12.3418 5.54444 12.635 6.51114 12.635 7.50005C12.635 8.15666 12.5057 8.80684 12.2544 9.41346C12.0032 10.0201 11.6349 10.5713 11.1706 11.0356C10.7063 11.4999 10.1551 11.8682 9.54845 12.1194C8.94183 12.3707 8.29165 12.5 7.63504 12.5Z" fill="#686B71"/>
        </svg>
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
      {{#if source_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_source_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h6 class="collapsible-sidebar-title sidenav-title">{{t 'filter_source'}}</h6>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each source_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_sources'}}">{{t 'show_more_sources'}}</button>
          </ul>
        </section>
      {{/if}}
      {{#if type_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_type_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h6 class="collapsible-sidebar-title sidenav-title">{{t 'filter_type'}}</h6>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each type_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_subfilter_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          {{#is current_filter.identifier 'knowledge_base'}}
            <h6 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_category'}}</h6>
          {{/is}}
          {{#is current_filter.identifier 'community'}}
            <h6 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_topic'}}</h6>
          {{/is}}
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each subfilters}}
              <li>
                {{#if selected}}
                  <a href="{{url}}" class="sidenav-item current" aria-current="page">
                {{else}}
                  <a href="{{url}}" class="sidenav-item">
                {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            {{#is current_filter.identifier 'knowledge_base'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_topics'}}">{{t 'show_more_topics'}}</button>
            {{/is}}
          </ul>
        </section>
      {{/if}}
      {{#if content_tag_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h6 class="collapsible-sidebar-title sidenav-title">{{t 'filter_content_tag'}}</h6>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each content_tag_filters}}
              {{#if selected}}
                <li class="sidenav-tag">
                  <div class="content-tag">
                    <span class="label">{{name}}</span>
                    <a href="{{url}}" aria-current="page">
                      <span>
                        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"  aria-hidden="true" >
                            <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
                        </svg>
                      </span>
                    </a>
                  </div>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </aside>

    <section id="main-content" class="search-results-column">
      {{#if results}}
        <h1 class="search-results-heading">
          {{#is current_filter.identifier 'unified'}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{t 'results' query=query count=results_count}}
            {{/if}}
          {{else}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{#unless current_subfilter.identifier}}
                {{t 'results' query=query count=results_count}}
              {{else}}
                {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
              {{/unless}}
            {{/if}}
          {{/is}}
        </h1>
      {{/if}}
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li>
              <article>
                <header>
                  <div class="search-result-title-container">
                    <h6 class="search-result-title">
                      <a href="{{url}}" {{#if is_external}} target="_blank" {{/if}}>
                        {{title}}
                        {{#if is_external}}
                          <svg viewBox="0 0 12 12" height="12" id="zd-svg-icon-12-new-window-fill">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                            <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                          </svg>
                        {{/if}}
                      </a>
                    </h6>
                    <div class="search-result-icons">
                      {{#if vote_sum}}
                        <span class="search-result-votes">
                          <span class="visibility-hidden">
                            {{t 'votes_sum' count=vote_sum}}
                          </span>
                          <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-votes-icon">
                              <g fill="none" stroke="currentColor">
                                <path stroke-linejoin="round" d="M10.77 4.5a.73.73 0 01.73.73C11.43 7 11.21 11.5 10 11.5H5a.5.5 0 01-.5-.5V4.5s1-.5 1-3a1 1 0 012 0v3z"/>
                                <rect width="2" height="7" x=".5" y="4.5" rx=".5" ry=".5"/>
                              </g>
                            </svg>
                            {{vote_sum}}
                          </span>
                        </span>
                      {{/if}}
                      {{#if comment_count}}
                        <span class="search-result-meta-count">
                          <span class="visibility-hidden">
                            {{t 'comments_count' count=comment_count}}
                          </span>
                          <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-meta-count-icon">
                              <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                            </svg>
                            {{comment_count}}
                          </span>
                        </span>
                      {{/if}}
                    </div>
                  </div>
                  <div class="search-result-meta-container">
                    <nav 
                      {{#is type 'article'}}aria-label='{{t 'article_location_with_title' title=title}}'{{/is}}
                      {{#is type 'community_post'}}aria-label='{{t 'post_location_with_title' title=title}}'{{/is}}
                      {{#is type 'external_content_record'}}aria-label='{{t 'external_content_location_with_title' title=title}}'{{/is}}
                    >
                      <ol class="breadcrumbs search-result-breadcrumbs">
                        {{#each path_steps}}
                          <li><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                        {{/each}}
                      </ol>
                    </nav>
                    
                  </div>
                </header>
                <p class="search-result-description p-small">{{text}}</p>
                <div class="search-result-bottom">
                  {{#unless is_external}}
                    {{#link 'user_profile' class="meta-data" id=author.id}}
                      {{author.name}}
                    {{/link}}
                  {{/unless}}
                  <span class="meta-data">{{date created_at}}</span>
                </div>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
          <div class="no-results">
            <svg width="169" height="166" viewBox="0 0 169 166" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M56.3 81.4227C56.1 81.4227 55.8 81.3227 55.8 81.0227C55.7 80.7227 55.6 80.4226 55.4 80.1226C55.3 79.8226 55.4001 79.5227 55.7001 79.3227C56.0001 79.2227 56.3 79.3226 56.5 79.6226C56.6 79.9226 56.8 80.2227 56.9 80.5227C57 80.8227 56.9001 81.1227 56.6001 81.2227C56.5001 81.4227 56.4 81.4227 56.3 81.4227Z" fill="#828282"/>
              <path d="M72.9 165.423C72.6 165.423 72.3 165.423 71.9 165.423C71.6 165.423 71.3 165.123 71.3 164.823C71.3 164.523 71.6 164.223 71.9 164.223C72.5 164.223 73.2 164.223 73.8 164.223C74.1 164.223 74.4 164.423 74.4 164.823C74.4 165.123 74.2 165.423 73.8 165.423C73.6 165.423 73.2 165.423 72.9 165.423ZM77.7 165.023C77.4 165.023 77.2 164.823 77.1 164.523C77 164.223 77.3 163.923 77.6 163.823C78.2 163.723 78.8 163.623 79.4 163.423C79.7 163.323 80 163.523 80.1 163.823C80.2 164.123 80 164.423 79.7 164.523C79.1 164.723 78.4 164.823 77.8 164.923C77.8 165.023 77.8 165.023 77.7 165.023ZM68.1 164.923H68C67.7 164.823 67.3 164.823 67 164.723C66.7 164.623 66.4 164.623 66.1 164.523C65.8 164.423 65.6 164.123 65.7 163.823C65.8 163.523 66.1 163.323 66.4 163.423C66.7 163.523 67 163.623 67.3 163.623C67.6 163.723 67.9 163.723 68.2 163.823C68.5 163.923 68.7 164.223 68.7 164.523C68.7 164.823 68.4 164.923 68.1 164.923ZM48.4 163.523C47.7 163.523 47.1 163.423 46.4 163.423C46.1 163.423 45.9 163.123 45.9 162.823C45.9 162.523 46.2 162.323 46.5 162.323C47.1 162.423 47.8 162.423 48.4 162.423C48.7 162.423 49 162.723 49 163.023C49 163.223 48.7 163.523 48.4 163.523ZM83.3 163.323C83.1 163.323 82.9 163.223 82.8 162.923C82.7 162.623 82.8 162.323 83.1 162.123C83.7 161.923 84.3 161.623 84.8 161.323C85.1 161.223 85.4 161.323 85.6 161.623C85.7 161.923 85.6 162.223 85.3 162.423C84.7 162.723 84.1 163.023 83.5 163.223C83.4 163.323 83.4 163.323 83.3 163.323ZM52.3 163.223C52 163.223 51.8 163.023 51.7 162.723C51.6 162.423 51.9 162.123 52.2 162.023C52.8 161.923 53.4 161.823 54 161.623C54.3 161.523 54.6 161.723 54.7 162.023C54.8 162.323 54.6 162.623 54.3 162.723C53.7 163.023 53 163.123 52.3 163.223ZM62.6 163.223C62.5 163.223 62.4 163.223 62.4 163.123C61.8 162.823 61.2 162.523 60.6 162.223C60.3 162.023 60.2 161.723 60.4 161.423C60.6 161.123 60.9 161.023 61.2 161.223C61.7 161.523 62.3 161.823 62.9 162.123C63.2 162.223 63.3 162.623 63.2 162.923C63.1 163.123 62.8 163.223 62.6 163.223ZM42.7 162.523C42.6 162.523 42.6 162.523 42.5 162.523C41.9 162.323 41.2 162.123 40.6 161.823C40.3 161.723 40.2 161.323 40.3 161.023C40.4 160.723 40.8 160.623 41.1 160.723C41.7 160.923 42.3 161.123 42.9 161.323C43.2 161.423 43.4 161.723 43.3 162.023C43.2 162.423 43 162.523 42.7 162.523ZM57.7 161.423C57.5 161.423 57.3 161.323 57.2 161.123C57.1 160.823 57.2 160.523 57.5 160.323C58.1 160.023 58.6 159.723 59.1 159.423C59.4 159.223 59.7 159.323 59.9 159.623C60.1 159.923 60 160.223 59.7 160.423C59.2 160.823 58.6 161.123 58 161.423C57.9 161.423 57.8 161.423 57.7 161.423ZM88.3 160.523C88.1 160.523 87.9 160.423 87.8 160.323C87.6 160.023 87.7 159.723 87.9 159.523C88.4 159.123 88.9 158.723 89.4 158.323C89.6 158.123 90 158.123 90.2 158.423C90.4 158.623 90.4 159.023 90.1 159.223C89.6 159.623 89.1 160.023 88.5 160.423C88.6 160.523 88.5 160.523 88.3 160.523ZM37.5 160.123C37.4 160.123 37.3 160.123 37.2 160.023C36.6 159.623 36.1 159.223 35.6 158.823C35.3 158.623 35.3 158.223 35.5 158.023C35.7 157.723 36.1 157.723 36.3 157.923C36.8 158.323 37.3 158.723 37.8 159.023C38.1 159.223 38.1 159.523 38 159.823C37.9 160.023 37.7 160.123 37.5 160.123ZM57.9 159.923C57.7 159.923 57.6 159.823 57.5 159.723C57.1 159.323 56.8 158.923 56.5 158.523C56.4 158.423 56.3 158.323 56.2 158.123C56 157.823 56.1 157.523 56.3 157.323C56.6 157.123 56.9 157.223 57.1 157.423C57.2 157.523 57.3 157.623 57.4 157.723C57.7 158.123 58 158.423 58.3 158.823C58.5 159.023 58.5 159.423 58.3 159.623C58.2 159.923 58 159.923 57.9 159.923ZM62.3 157.923C62.2 157.923 62 157.823 61.9 157.723C61.7 157.523 61.6 157.123 61.9 156.923C62.3 156.423 62.7 155.923 63 155.523C63.2 155.223 63.5 155.223 63.8 155.323C64.1 155.523 64.1 155.823 64 156.123C63.6 156.623 63.2 157.223 62.8 157.723C62.7 157.923 62.5 157.923 62.3 157.923ZM33.2 156.323C33 156.323 32.9 156.223 32.7 156.123C32.4 155.723 32.1 155.323 31.8 154.923C31.7 154.823 31.6 154.623 31.6 154.523C31.4 154.223 31.5 153.923 31.8 153.723C32.1 153.523 32.4 153.623 32.6 153.923C32.7 154.023 32.8 154.123 32.8 154.323C33.1 154.723 33.3 155.123 33.6 155.523C33.8 155.823 33.8 156.123 33.5 156.323C33.4 156.223 33.3 156.323 33.2 156.323ZM55 155.023C54.7 155.023 54.5 154.823 54.4 154.623C54.2 153.923 54.1 153.323 54 152.623C54 152.323 54.2 152.023 54.5 152.023C54.8 152.023 55.1 152.223 55.1 152.523C55.2 153.123 55.3 153.723 55.5 154.323C55.6 154.623 55.4 154.923 55.1 155.023H55ZM65.1 152.923C65.1 152.923 65 152.923 64.9 152.923C64.6 152.823 64.4 152.523 64.5 152.223C64.6 151.923 64.7 151.523 64.7 151.223C64.7 150.923 64.8 150.723 64.8 150.423C64.8 150.123 65.1 149.823 65.4 149.923C65.7 149.923 66 150.223 65.9 150.523C65.9 150.823 65.8 151.123 65.8 151.423C65.7 151.823 65.7 152.123 65.6 152.523C65.6 152.823 65.4 152.923 65.1 152.923ZM30.4 151.223C30.2 151.223 29.9 151.123 29.9 150.823C29.7 150.223 29.5 149.523 29.3 148.923C29.2 148.623 29.4 148.323 29.7 148.223C30 148.123 30.3 148.323 30.4 148.623C30.6 149.223 30.7 149.823 30.9 150.423C31 150.723 30.9 151.023 30.5 151.123C30.5 151.223 30.5 151.223 30.4 151.223ZM54.9 149.323C54.8 149.323 54.8 149.323 54.7 149.323C54.4 149.223 54.2 148.923 54.3 148.623C54.5 147.923 54.8 147.323 55.1 146.723C55.3 146.423 55.6 146.323 55.9 146.523C56.2 146.723 56.3 147.023 56.1 147.323C55.8 147.823 55.6 148.423 55.4 148.923C55.4 149.123 55.1 149.323 54.9 149.323ZM64.8 147.323C64.6 147.323 64.4 147.223 64.3 147.023C64 146.423 63.7 146.023 63.3 145.623C63.1 145.423 63.1 145.023 63.3 144.823C63.5 144.623 63.9 144.623 64.1 144.823C64.6 145.323 65 145.923 65.3 146.623C65.4 146.923 65.3 147.223 65 147.423C64.9 147.223 64.9 147.323 64.8 147.323ZM29.2 145.623C28.9 145.623 28.6 145.423 28.6 145.123C28.5 144.523 28.5 143.823 28.5 143.123C28.5 142.823 28.8 142.523 29.1 142.523C29.4 142.523 29.7 142.823 29.7 143.123C29.7 143.723 29.7 144.423 29.8 145.023C29.8 145.323 29.6 145.523 29.2 145.623ZM58.4 144.923C58.2 144.923 58 144.823 57.9 144.623C57.8 144.323 57.9 144.023 58.2 143.823C58.9 143.523 59.6 143.323 60.2 143.223C60.5 143.223 60.8 143.423 60.8 143.723C60.8 144.023 60.6 144.323 60.3 144.323C59.8 144.423 59.2 144.523 58.7 144.823C58.6 144.923 58.5 144.923 58.4 144.923ZM29.4 139.823C29 139.823 28.8 139.523 28.8 139.123C28.9 138.523 29 137.823 29.1 137.223C29.2 136.923 29.5 136.723 29.8 136.723C30.1 136.823 30.3 137.123 30.3 137.423C30.2 138.023 30.1 138.623 30 139.323C29.9 139.623 29.7 139.823 29.4 139.823ZM30.6 134.123C30.5 134.123 30.5 134.123 30.4 134.123C30.1 134.023 29.9 133.723 30 133.423C30.2 132.823 30.4 132.223 30.6 131.523C30.7 131.223 31 131.023 31.3 131.223C31.6 131.323 31.8 131.623 31.6 131.923C31.4 132.523 31.2 133.123 31 133.723C31.1 134.023 30.9 134.123 30.6 134.123ZM32.7 128.723C32.6 128.723 32.5 128.723 32.5 128.623C32.2 128.523 32.1 128.123 32.2 127.823C32.5 127.223 32.8 126.623 33.1 126.023C33.2 125.723 33.6 125.623 33.9 125.723C34.2 125.823 34.3 126.223 34.2 126.523C33.9 127.123 33.6 127.723 33.4 128.223C33.2 128.623 33 128.723 32.7 128.723ZM35.5 123.623C35.4 123.623 35.3 123.623 35.2 123.523C34.9 123.323 34.8 123.023 35 122.723C35.3 122.223 35.7 121.623 36 121.023C36.2 120.723 36.5 120.623 36.8 120.823C37.1 121.023 37.2 121.323 37 121.623C36.7 122.123 36.3 122.723 36 123.223C35.8 123.523 35.7 123.623 35.5 123.623ZM38.6 118.823C38.5 118.823 38.4 118.823 38.3 118.723C38 118.523 38 118.223 38.2 117.923C38.6 117.423 39 116.823 39.3 116.323C39.5 116.023 39.9 116.023 40.1 116.223C40.4 116.423 40.4 116.823 40.2 117.023C39.8 117.523 39.4 118.023 39.1 118.623C39 118.723 38.8 118.823 38.6 118.823ZM42.1 114.123C42 114.123 41.8 114.123 41.7 114.023C41.4 113.823 41.4 113.423 41.6 113.223L41.8 113.023C42.1 112.723 42.3 112.323 42.6 112.023L42.8 111.723C43 111.423 43.4 111.423 43.6 111.623C43.9 111.823 43.9 112.223 43.7 112.423L43.5 112.723C43.2 113.023 43 113.423 42.7 113.723L42.5 113.923C42.4 114.123 42.2 114.123 42.1 114.123ZM45.6 109.523C45.5 109.523 45.4 109.523 45.3 109.423C45 109.223 45 108.823 45.2 108.623C45.6 108.123 46 107.523 46.3 107.023C46.5 106.723 46.8 106.723 47.1 106.823C47.4 107.023 47.4 107.323 47.3 107.623C47 108.123 46.6 108.623 46.2 109.223C46 109.523 45.8 109.523 45.6 109.523ZM48.6 104.623C48.5 104.623 48.4 104.623 48.4 104.523C48.1 104.423 48 104.023 48.1 103.723C48.4 103.123 48.6 102.523 48.8 102.023C48.9 101.723 49.2 101.523 49.5 101.623C49.8 101.723 50 102.023 49.9 102.323C49.7 102.923 49.4 103.523 49.1 104.123C49 104.523 48.8 104.623 48.6 104.623ZM43.3 100.523C42.6 100.523 41.9 100.423 41.3 100.323C41 100.223 40.8 99.923 40.9 99.623C41 99.323 41.3 99.1231 41.6 99.2231C42.2 99.3231 42.8 99.4231 43.4 99.4231C43.7 99.4231 44 99.7231 44 100.023C43.9 100.223 43.6 100.523 43.3 100.523ZM47.1 99.9231C46.9 99.9231 46.6 99.7231 46.5 99.5231C46.4 99.2231 46.6 98.9231 46.9 98.8231C47.5 98.6231 48.1 98.423 48.6 98.123C48.9 98.023 49.2 98.1231 49.4 98.4231C49.6 98.7231 49.4 99.0231 49.1 99.2231C48.5 99.5231 47.9 99.7231 47.2 99.9231C47.2 99.9231 47.2 99.9231 47.1 99.9231ZM50.2 99.123C49.8 99.123 49.6 98.8231 49.6 98.5231C49.7 98.0231 49.7 97.623 49.7 97.123C49.7 96.923 49.7 96.823 49.7 96.623C49.7 96.323 49.9 96.0231 50.3 96.0231C50.6 96.0231 50.9 96.223 50.9 96.623C50.9 96.823 50.9 96.923 50.9 97.123C50.9 97.623 50.9 98.123 50.8 98.623C50.8 98.823 50.5 99.123 50.2 99.123ZM38 98.623C37.9 98.623 37.7 98.6231 37.6 98.5231C37.1 98.0231 36.6 97.5231 36.2 96.9231C36 96.6231 36.1 96.323 36.4 96.123C36.7 95.923 37 96.0231 37.2 96.3231C37.5 96.8231 37.9 97.223 38.4 97.623C38.6 97.823 38.7 98.2231 38.5 98.4231C38.3 98.5231 38.1 98.623 38 98.623ZM52.2 97.123C52 97.123 51.9 97.0231 51.8 96.9231C51.6 96.7231 51.6 96.323 51.9 96.123C52.4 95.723 52.8 95.3231 53.2 94.8231C53.4 94.6231 53.8 94.5231 54 94.8231C54.2 95.0231 54.3 95.423 54 95.623C53.6 96.123 53.1 96.6231 52.6 97.0231C52.4 97.1231 52.3 97.123 52.2 97.123ZM35.6 93.5231C35.3 93.5231 35 93.2231 35 92.9231C35 92.7231 35 92.6231 35 92.4231C35.1 91.9231 35.2 91.3231 35.4 90.8231C35.5 90.5231 35.9 90.4231 36.2 90.5231C36.5 90.6231 36.6 91.0231 36.5 91.3231C36.3 91.7231 36.2 92.123 36.2 92.623C36.2 92.723 36.2 92.9231 36.2 93.0231C36.1 93.2231 35.9 93.5231 35.6 93.5231ZM49.5 93.4231C49.3 93.4231 49.1 93.3231 49 93.0231C48.8 92.4231 48.5 91.9231 48.1 91.4231C47.9 91.1231 48 90.823 48.3 90.623C48.6 90.423 48.9 90.5231 49.1 90.8231C49.5 91.4231 49.8 92.023 50.1 92.623C50.2 92.923 50.1 93.2231 49.8 93.4231C49.6 93.4231 49.6 93.4231 49.5 93.4231ZM55.7 92.623C55.6 92.623 55.5 92.6231 55.4 92.5231C55.1 92.4231 55 92.0231 55.1 91.7231C55.1 91.6231 55.2 91.5231 55.2 91.4231C55.4 90.9231 55.6 90.5231 55.8 90.0231C55.9 89.7231 56.2 89.523 56.5 89.623C56.8 89.723 57 90.0231 56.9 90.3231C56.7 90.8231 56.5 91.4231 56.3 91.9231C56.3 92.0231 56.2 92.1231 56.2 92.2231C56.1 92.5231 55.9 92.623 55.7 92.623ZM45.9 89.0231C45.8 89.0231 45.7 89.0231 45.6 88.9231C45.1 88.6231 44.5 88.323 44 88.123C43.7 88.023 43.5 87.7231 43.6 87.4231C43.7 87.1231 44 86.9231 44.3 87.0231C44.9 87.2231 45.6 87.5231 46.2 87.9231C46.5 88.1231 46.6 88.4231 46.4 88.7231C46.3 88.9231 46.1 89.0231 45.9 89.0231ZM38.6 88.8231C38.4 88.8231 38.2 88.7231 38.1 88.5231C37.9 88.2231 38 87.9231 38.3 87.7231C38.9 87.3231 39.5 87.1231 40.2 86.9231C40.5 86.8231 40.8 87.0231 40.9 87.3231C41 87.6231 40.8 87.9231 40.5 88.0231C39.9 88.2231 39.4 88.4231 38.9 88.7231C38.8 88.8231 38.7 88.8231 38.6 88.8231ZM57.2 87.123C56.8 87.123 56.6 86.8231 56.6 86.5231C56.6 86.3231 56.6 86.0231 56.6 85.8231C56.6 85.4231 56.6 85.1231 56.6 84.7231C56.6 84.4231 56.8 84.123 57.1 84.123C57.4 84.123 57.7 84.323 57.7 84.623C57.7 85.023 57.7 85.4231 57.7 85.8231C57.7 86.1231 57.7 86.323 57.7 86.623C57.7 86.823 57.5 87.123 57.2 87.123Z" fill="#828282"/>
              <path d="M92.6 156.623C92.5 156.623 92.3 156.623 92.2 156.523C92 156.323 91.9 155.923 92.1 155.723C92.3 155.523 92.5 155.223 92.7 155.023C92.9 154.723 93.3 154.723 93.5 154.923C93.8 155.123 93.8 155.523 93.6 155.723C93.4 156.023 93.2 156.223 93 156.523C93 156.523 92.8 156.623 92.6 156.623Z" fill="#828282"/>
              <path d="M64.9 100.024C68.4 78.7238 93 65.1238 119.8 69.5238C146.6 73.9238 165.5 94.8238 161.9 116.124C158.4 137.424 133.8 151.024 107 146.624C106.7 146.624 106.5 146.524 106.2 146.524C103.8 150.924 100 154.524 95.5 156.624C97.5 152.924 98.4 148.724 98.4 144.624C76.3 137.524 61.8 118.924 64.9 100.024Z" fill="#C8CBD1"/>
              <path d="M141.7 100.823C141.7 88.3231 129.8 78.123 115.2 78.123C100.5 78.123 88.7 88.3231 88.7 100.823C88.7 109.923 95 117.823 104.1 121.423C106.6 122.423 108.3 124.823 108.5 127.523L108.8 132.323H117.1L118 127.823C118.5 125.223 120.5 123.123 123.1 122.423C133.9 119.623 141.7 111.023 141.7 100.823Z" fill="#EEEFF2"/>
              <path d="M114.5 121.223C123.889 121.223 131.5 113.611 131.5 104.223C131.5 94.8338 123.889 87.2227 114.5 87.2227C105.111 87.2227 97.5 94.8338 97.5 104.223C97.5 113.611 105.111 121.223 114.5 121.223Z" fill="#DCDFE6"/>
              <path d="M111.3 131.123C111 131.123 110.9 130.923 110.9 130.723C111.5 127.223 110.8 123.223 108.7 118.523C108.3 117.523 107.7 116.323 106.9 115.023C104.8 115.323 102.6 114.923 100.8 114.023C99.4 113.223 98.2 111.623 98.9 110.223C99.4 109.223 100.6 108.823 101.6 109.023C102.6 109.223 103.5 109.823 104.1 110.323C105.4 111.423 106.5 112.823 107.3 114.223C108.7 113.923 110.2 113.423 111.4 112.623C113.5 111.223 115.2 109.123 116.4 106.523C115.6 105.623 114.8 104.623 114 103.423C113.4 102.423 112.5 100.823 112.2 99.1231C111.9 97.4231 112.2 95.7232 113 94.4232C113.7 93.4232 114.9 92.6232 116.2 93.0232C117.1 93.3232 117.8 94.1232 118.2 95.5232C119 98.0232 118.9 100.923 118.1 104.023C117.9 104.823 117.6 105.623 117.3 106.423C117.9 107.023 118.5 107.523 119.2 107.923C119.5 108.123 119.8 108.323 120.1 108.423C121.7 106.623 123.7 105.323 125.8 104.423C126.4 104.223 127 104.323 127.6 104.723C128.3 105.223 128.6 106.123 128.5 106.923C128.2 108.323 126.9 109.223 125.7 109.623C124.1 110.123 122.2 110.023 120.4 109.323C118.9 111.023 117.7 113.023 116.9 115.323C115.5 119.323 115.1 124.023 115.9 129.423V129.523C116 129.623 116.1 129.923 116 130.123C115.9 130.323 115.7 130.523 115.4 130.423C115.2 130.323 114.9 130.123 115 129.823C115 129.723 115.1 129.623 115.1 129.623V129.523C114.4 124.023 114.7 119.123 116.2 115.023C117 112.723 118.2 110.723 119.7 109.023C119.4 108.923 119.1 108.723 118.9 108.523C118.3 108.123 117.6 107.623 117.1 107.123C115.9 109.723 114.1 111.823 112 113.223C110.7 114.123 109.3 114.623 107.9 114.923C108.6 116.123 109.1 117.223 109.6 118.223C111.8 123.023 112.5 127.223 111.9 130.823C111.6 130.923 111.5 131.123 111.3 131.123ZM101.2 109.723C100.6 109.723 99.9 110.023 99.7 110.523C99.2 111.523 100.3 112.823 101.3 113.323C102.8 114.123 104.7 114.523 106.6 114.323C105.8 113.123 104.8 111.923 103.7 110.923C103.2 110.423 102.4 109.923 101.6 109.723C101.4 109.723 101.3 109.723 101.2 109.723ZM120.9 108.623C122.4 109.123 124 109.223 125.4 108.823C126.4 108.523 127.5 107.823 127.7 106.723C127.8 106.223 127.5 105.623 127.1 105.223C126.9 105.023 126.5 104.823 126.1 105.023C124.2 105.723 122.4 107.023 120.9 108.623ZM115.6 93.6231C114.8 93.6231 114.1 94.2231 113.7 94.8231C113 95.9231 112.7 97.4232 113 98.9232C113.2 100.123 113.8 101.423 114.7 103.023C115.4 104.023 116 105.023 116.7 105.723C117 105.123 117.2 104.423 117.4 103.723C118.2 100.823 118.3 98.0231 117.5 95.6231C117.2 94.5231 116.6 93.8231 116 93.6231C115.9 93.6231 115.8 93.6231 115.6 93.6231Z" fill="#848896"/>
              <path d="M107.3 128.924L119 129.024C119 129.024 117.6 142.224 111.9 141.224C106.3 140.224 107.3 128.924 107.3 128.924Z" fill="white"/>
              <path d="M106.9 131.924C106.7 131.924 106.5 131.724 106.5 131.524C106.5 131.324 106.6 131.124 106.9 131.124L118.9 130.324C119.1 130.324 119.3 130.424 119.3 130.724C119.3 130.924 119.2 131.124 118.9 131.124L106.9 131.924Z" fill="#848896"/>
              <path d="M118.2 134.123L107.2 133.823C107 133.823 106.8 133.623 106.8 133.423C106.8 133.223 107 133.023 107.2 133.023L118.2 133.323C118.4 133.323 118.6 133.523 118.6 133.723C118.6 133.923 118.4 134.123 118.2 134.123Z" fill="#848896"/>
              <path d="M107.8 137.523C107.6 137.523 107.4 137.323 107.4 137.123C107.4 136.923 107.6 136.723 107.8 136.723L117.1 136.523C117.3 136.523 117.5 136.723 117.5 136.923C117.5 137.123 117.3 137.323 117.1 137.323L107.8 137.523Z" fill="#848896"/>
              <path d="M131.6 88.9229C130 89.5229 129.4 91.3229 130 92.8229C130.6 94.1229 131 95.5229 131.3 96.9229C131.7 98.5229 133.3 99.5229 134.9 99.0229C135.1 98.9229 135.3 98.9229 135.5 98.8229C137.1 98.3229 138 96.6229 137.5 95.0229C136.9 93.3229 136.1 91.6229 135.3 90.0229C134.6 88.9229 133 88.3229 131.6 88.9229Z" fill="white"/>
              <path d="M138.4 104.423C138.4 105.923 137.2 107.123 135.7 107.123C134.2 107.123 133 105.923 133 104.423C133 102.923 134.2 101.723 135.7 101.723C137.2 101.723 138.4 102.923 138.4 104.423Z" fill="white"/>
              <path d="M98.3 36.0232C96.9 14.5232 73.8 -1.57685 46.7 0.123155C19.6 1.82315 -1.3 20.7232 0.0999952 42.2232C1.5 63.7232 24.6 79.8232 51.7 78.1232C52 78.1232 52.2 78.1232 52.5 78.0232C54.5 82.6232 57.9 86.6232 62.2 89.2232C60.6 85.3232 60.1 81.1232 60.5 76.9232C83.2 72.2232 99.6 55.2232 98.3 36.0232Z" fill="#F0F1F5"/>
              <path d="M49.7999 13.1225C68.3999 12.6225 74.3999 38.2225 56.2999 44.0225C57.1999 49.3225 50.4999 49.2225 46.8999 48.4225C44.2999 47.6225 44.2999 45.2225 44.4999 42.9225C44.2999 39.1225 46.9999 36.5225 50.1999 35.5225C52.7999 34.7225 55.9999 33.0225 55.8999 29.9225C56.3999 24.9225 50.1999 23.7225 46.4999 25.6225C45.2999 26.4225 44.8999 27.1225 44.6999 28.2225C43.3999 34.3225 36.9999 31.8225 33.9999 29.3225C32.0999 27.5225 33.2999 25.4225 34.0999 22.9225C36.5999 17.1225 42.9999 12.9225 49.7999 13.1225ZM50.1999 54.2225C55.4999 54.4225 56.8999 55.6225 56.9999 61.1225C57.3999 65.8225 54.9999 68.1225 50.1999 67.8225C44.9999 67.9225 43.0999 65.8225 43.3999 60.9225C42.8999 56.3225 45.3999 53.9225 50.1999 54.2225Z" fill="#848896"/>
              <path d="M46.7 13.1225C65.3 12.6225 71.3 38.2225 53.2 44.0225C54.1 49.3225 47.4 49.2225 43.8 48.4225C41.2 47.6225 41.2 45.2225 41.4 42.9225C41.2 39.1225 43.9 36.5225 47.1 35.5225C49.7 34.7225 52.9 33.0225 52.8 29.9225C53.3 24.9225 47.1 23.7225 43.4 25.6225C42.2 26.4225 41.8 27.1225 41.6 28.2225C40.3 34.3225 33.9 31.8225 30.9 29.3225C29 27.5225 30.2 25.4225 31 22.9225C33.5 17.1225 39.9 12.9225 46.7 13.1225ZM47.1 54.2225C52.4 54.4225 53.8 55.6225 53.9 61.1225C54.3 65.8225 51.9 68.1225 47.1 67.8225C41.9 67.9225 40 65.8225 40.3 60.9225C39.8 56.3225 42.3 53.9225 47.1 54.2225Z" fill="#CED1D8"/>
            </svg>
            
            <h5 class="headline">
              {{t 'no_results_unified_start_new_search'}}
            </h5>
            <p class="action-prompt">
              {{t 'no_results_unified_enter_keywords'}}
            </p>
            <p class="action-prompt">
              {{#link 'help_center'}}
                {{t 'go_to_help_center'}} <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" focusable="false" role="presentation"
                  data-garden-id="buttons.external_icon" data-garden-version="8.38.0" theme="[object Object]" class="sc-ifAKCX lgxUVw">
                  <path fill="none" stroke="currentColor" stroke-linecap="round"
                    d="M10.5 8.5V10c0 .3-.2.5-.5.5H2c-.3 0-.5-.2-.5-.5V2c0-.3.2-.5.5-.5h1.5M6 6l4-4m-3.5-.5H10c.3 0 .5.2.5.5v3.5">
                  </path>
                </svg>
              {{/link}}
            </p> 
          </div>
      {{/if}}
    {{pagination}}
    </section>
  </div>
</div>
